#vscode
**vscode

#py
**__pycache__
**logs

#node js
**node_modules

#auth
/config.json

#legacy bot
/zenithlegacy/temp
/zenithlegacy/tts
/zenithlegacy/auth
/zenithlegacy/level2

#lavalink
/lavalink

#misc
**cache