#vscode
**vscode

#py
**__pycache__
**logs

#node js
**node_modules

#auth
/config.json

#bubblesproject
/bubblesproject

#legacy bot
/zenithlegacy/temp
/zenithlegacy/tts
/zenithlegacy/auth
/zenithlegacy/level2

#lavalink
/lavalink

#confessions
/zenithlegacy/confessBanned.json
/zenithlegacy/mmrConfessionsBot.py

#misc
supervisor.py
deploy-commands.js
update-permissions.js
**cache